---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?convert=USD&ids=BTC,XRP&key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"55015.51036544","price_date":"2021-10-09T00:00:00Z","price_timestamp":"2021-10-09T17:11:00Z","circulating_supply":"18839018","max_supply":"21000000","market_cap":"1036438190054","market_cap_dominance":"0.3942","num_exchanges":"392","num_pairs":"65915","num_pairs_unmapped":"5170","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63661.69291896","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"36528198204.28","price_change":"589.38244053","price_change_pct":"0.0108","volume_change":"-11246699006.55","volume_change_pct":"-0.2354","market_cap_change":"11151335824.77","market_cap_change_pct":"0.0109"},"7d":{"volume":"322290393159.71","price_change":"7313.89583669","price_change_pct":"0.1533","volume_change":"19221401100.94","volume_change_pct":"0.0634","market_cap_change":"138085942948.77","market_cap_change_pct":"0.1537"},"30d":{"volume":"1410032008252.05","price_change":"8535.01448090","price_change_pct":"0.1836","volume_change":"-107026825060.22","volume_change_pct":"-0.0705","market_cap_change":"162085773246.38","market_cap_change_pct":"0.1854"},"365d":{"volume":"21148853103797.15","price_change":"43637.79238262","price_change_pct":"3.8354","volume_change":"10482543242230.89","volume_change_pct":"0.9828","market_cap_change":"825810108731.03","market_cap_change_pct":"3.9207"},"ytd":{"volume":"18421252933711.86","price_change":"22136.17558446","price_change_pct":"0.6733","volume_change":"10084547563558.19","volume_change_pct":"1.2097","market_cap_change":"425311868601.75","market_cap_change_pct":"0.6959"}},{"id":"XRP","currency":"XRP","symbol":"XRP","name":"XRP","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/XRP.svg","status":"active","price":"1.17972459","price_date":"2021-10-09T00:00:00Z","price_timestamp":"2021-10-09T17:11:00Z","circul[...]
