---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?ids=BTC&key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"55279.82596509","price_date":"2021-10-09T00:00:00Z","price_timestamp":"2021-10-09T15:12:00Z","circulating_supply":"18838931","max_supply":"21000000","market_cap":"1041412827048","market_cap_dominance":"0.3953","num_exchanges":"392","num_pairs":"65914","num_pairs_unmapped":"5170","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63661.69291896","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"36715001578.11","price_change":"823.56572298","price_change_pct":"0.0151","volume_change":"-12108526770.46","volume_change_pct":"-0.2480","market_cap_change":"15562420319.26","market_cap_change_pct":"0.0152"},"7d":{"volume":"321296042037.87","price_change":"7578.21143634","price_change_pct":"0.1589","volume_change":"18227049308.00","volume_change_pct":"0.0601","market_cap_change":"143066542645.13","market_cap_change_pct":"0.1593"},"30d":{"volume":"1409037600853.92","price_change":"8799.33008055","price_change_pct":"0.1893","volume_change":"-108021232471.06","volume_change_pct":"-0.0712","market_cap_change":"167062408902.25","market_cap_change_pct":"0.1911"},"365d":{"volume":"21147858696395.17","price_change":"43902.10798226","price_change_pct":"3.8586","volume_change":"10481548834828.91","volume_change_pct":"0.9827","market_cap_change":"830785314611.48","market_cap_change_pct":"3.9443"},"ytd":{"volume":"18420258526309.88","price_change":"22400.49118411","price_change_pct":"0.6813","volume_change":"10083553156156.21","volume_change_pct":"1.2095","market_cap_change":"430286505596.30","market_cap_change_pct":"0.7041"}}]

        '
  recorded_at: Sat, 09 Oct 2021 15:19:18 GMT
recorded_with: VCR 6.0.0
