---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?attributes=circulating_supply,max_supply,name,symbol,price,id&ids=BTC,XRP,ETH&key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"55091.00853759","price_date":"2021-10-09T00:00:00Z","price_timestamp":"2021-10-09T15:57:00Z","circulating_supply":"18838931","max_supply":"21000000","market_cap":"1037855708560","market_cap_dominance":"0.3946","num_exchanges":"392","num_pairs":"65914","num_pairs_unmapped":"5170","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63661.69291896","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"36305866653.27","price_change":"650.07132125","price_change_pct":"0.0119","volume_change":"-11817658169.62","volume_change_pct":"-0.2456","market_cap_change":"12293250208.38","market_cap_change_pct":"0.0120"},"7d":{"volume":"321296042037.87","price_change":"7389.39400885","price_change_pct":"0.1549","volume_change":"18227049308.00","volume_change_pct":"0.0601","market_cap_change":"139506418955.31","market_cap_change_pct":"0.1553"},"30d":{"volume":"1409037600853.92","price_change":"8610.51265306","price_change_pct":"0.1853","volume_change":"-108021232471.06","volume_change_pct":"-0.0712","market_cap_change":"163505011531.17","market_cap_change_pct":"0.1870"},"365d":{"volume":"21147858696395.17","price_change":"43713.29055477","price_change_pct":"3.8420","volume_change":"10481548834828.91","volume_change_pct":"0.9827","market_cap_change":"827227775147.81","market_cap_change_pct":"3.9274"},"ytd":{"volume":"18420258526309.88","price_change":"22211.67375662","price_change_pct":"0.6756","volume_change":"10083553156156.21","volume_change_pct":"1.2095","market_cap_change":"426729387108.19","market_cap_change_pct":"0.6983"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","price":"3600.60103112","price_date":"2021-10-09T00:00:00Z","price_timestamp":"2021-10-09T15:57:00Z"[...]
