---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?ids=BTC,XRP,ETH&key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"55264.79088192","price_date":"2021-10-09T00:00:00Z","price_timestamp":"2021-10-09T15:30:00Z","circulating_supply":"18838931","max_supply":"21000000","market_cap":"1041129582154","market_cap_dominance":"0.3949","num_exchanges":"392","num_pairs":"65914","num_pairs_unmapped":"5170","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63661.69291896","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"37964836792.06","price_change":"808.53063981","price_change_pct":"0.0148","volume_change":"-10858691527.75","volume_change_pct":"-0.2224","market_cap_change":"15279175424.99","market_cap_change_pct":"0.0149"},"7d":{"volume":"321296042037.87","price_change":"7563.17635318","price_change_pct":"0.1586","volume_change":"18227049308.00","volume_change_pct":"0.0601","market_cap_change":"142783297750.86","market_cap_change_pct":"0.1589"},"30d":{"volume":"1409037600853.92","price_change":"8784.29499739","price_change_pct":"0.1890","volume_change":"-108021232471.06","volume_change_pct":"-0.0712","market_cap_change":"166779164007.98","market_cap_change_pct":"0.1907"},"365d":{"volume":"21147858696395.17","price_change":"43887.07289910","price_change_pct":"3.8573","volume_change":"10481548834828.91","volume_change_pct":"0.9827","market_cap_change":"830502069717.21","market_cap_change_pct":"3.9430"},"ytd":{"volume":"18420258526309.88","price_change":"22385.45610095","price_change_pct":"0.6808","volume_change":"10083553156156.21","volume_change_pct":"1.2095","market_cap_change":"430003260702.03","market_cap_change_pct":"0.7036"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","price":"3615.70845298","price_date":"2021-10-09T00:00:00Z","price_timestamp":"2021-10-09T15:30:00Z"[...]
